{{ 'api.jquery.js' | shopify_asset_url | script_tag }}
{{ 'jquery.cookie.js'  | asset_url | script_tag }}
{{ 'config.js'  | asset_url | script_tag }}
{{ 'config.css' | asset_url | stylesheet_tag }}

<script type="text/javascript">
    //<![CDATA[
    var i = new Image();
        i.src = '{{'clear_acrylic.png' | asset_url }}';

	var product = {};
	{% for link in linklists.midifighter.links %}
		{% assign component = link.object %}
	    {% if component.variants.size == 1 %}
			product["{{component.handle}}"] = { 	"shop_id": {{component.variants.first.id}},
						         				 	"name": "{{component.variants.first.title}}",
												  	"price": {{component.variants.first.price}}
												};
		{% else %}
			product["{{component.handle}}"] = [
				{% for variant in component.variants %}
					{ "shop_id": {{variant.id}},
	                  "name": "{{variant.option1}}",
	                  "sku": "{{variant.sku}}",
	                  "price": {{variant.price}} }{% unless forloop.last %},{% endunless %}
				{% endfor %}
			];
		{% endif %}
	{% endfor %}

    product["silicone-case"] = $.map(product["silicone-case"], function(el, i){
        switch(true) {
            case /blue/i.test(el.name) :
                el.color = "#00A5DB"; break;
            case /white/i.test(el.name) :
                el.color = "#FFFFFF"; break;
            case /black/i.test(el.name) :
                el.color = "#000000"; break;
            case /red/i.test(el.name) :
                el.color = "#E60003"; break;
            case /orange/i.test(el.name) :
                el.color = "#EA5A00"; break;
            case /clear/i.test(el.name) :
                el.color = "#F1F1F1"; break;
            default:
                console.debug(el);
                return null;
        }
        return el;
    });

    product["acrylic-top-plate"] = $.map(product["acrylic-top-plate"], function(el, i){
        var assetName = $.trim(el.sku.toLowerCase().replace(/acrylic_|\s/g,''));
        if (/^clear$/i.test(assetName) || /orange/i.test(assetName) ){ return null };
        el.color = 'http://midifighter.com/images/acrylic/'+ assetName + '.png';
        return el;
    });

    product["arcade-buttons"] = $.map(product["arcade-buttons"], function(el, i){
        var assetName =  $.trim(el.name.toLowerCase().replace(/\s/g,''));
        el.color = 'http://midifighter.com/images/button/'+ assetName + '.png';
        return el;
    });

    var config;

    //]]>
</script>

<style type="text/css">
    .tipsy-arrow {
        background-image: url({{ 'tipsy.gif' | asset_url }} );
    }

    .controller .acrylic.removed {
        background: url({{ 'clear_acrylic.png' | asset_url }} ) no-repeat scroll -1px -2px;
    }

</style>

<div class="product">

	<section id="midifighter">

	  <nav id="color_selector">
	    <div class="palette" data-ref="button">
	      <h4>
	        <a href="#" class="tooltip" title="Every Midi-Fighter is equipped with high-performance Sanwa arcade buttons which are made in Japan by Dj Samurai warriors.">?</a>
	        <input checked="checked" id="buttons_1" name="buttons" type="radio" value="1" />
	        <label class="title" for="buttons_1">Arcade Buttons [$35]</label>

	      </h4>
	      <h4>
	        <a href="#" class="tooltip" title="The opposite of having buttons... no buttons.">?</a>
	        <input id="buttons_0" name="buttons" type="radio" value="0" />
	        <label class="title" for="buttons_0">No Buttons [$0]</label>
	      </h4>
	      <ul></ul>
	    </div>

	    <div class="palette" data-ref="silicone">
	      <h4>
	        <a href="#" class="tooltip" title="Our Silicon cases are interchangeable and slip on or off like an iPhone glove. They have a nice grippy feel to them and a rounded camper edge so your fingers wont catch while performing lighting fast button crabs!">?</a>
	        <input checked="checked" id="silicone_case_1" name="silicone_case" type="radio" value="1" />
	        <label class="title" for="silicone_case_1">Silicone Case [$19]</label>
	      </h4>
	      <h4>

	        <a href="#" class="tooltip" title="The opposite of having a case... no case.">?</a>
	        <input id="silicone_case_0" name="silicone_case" type="radio" value="0" />
	        <label class="title" for="silicone_case_0">No Case [$0]</label>
	      </h4>
	      <ul></ul>
	    </div>

	    <div class="palette" data-ref="acrylic">

	      <h4>
	        <a href="#" class="tooltip" title="We now have 2 type of acrylic available. The High gloss shiny variation and a brand new Matte finish which is finger print proof! All of our matte colors are back painted by hand using high quality Montana Gold graffiti spray paints with some very bold, funky colors.">?</a>
	        <input checked="checked" id="acrylic_top_1" name="acrylic_top" type="radio" value="1" />
	        <label class="title" for="acrylic_top_1">Painted Top [$5-10]</label>
	      </h4>
	      <h4>
	        <a href="#" class="tooltip" title="Your Midi-Fighter will come with the standard clear glossy top. It shows the guts of the Midi-Fighter very nicely but can pick up finger prints more easily than the matte version.">?</a>
	        <input id="acrylic_top_0" name="acrylic_top" type="radio" value="0" />
	        <label class="title" for="acrylic_top_0">Clear Acrylic [$0]</label>
	      </h4>
	      <ul></ul>
	    </div>

	    <div class="assembly option">
	      <h4>
	        <a href="#" class="tooltip" title="We build the Midi-Fighter for you. Custom built midi fighter's will receive a Certificate of Authenticity, which is hand signed and numbered with a polaroid of your layout. Every certificate is scanned into an online registry of Midi-Fighters.">?</a>

	        <input checked="checked" id="assembled_1" name="assembled" type="radio" value="1" />
	        <label class="title" for="assembled_1">Assembled [$15]</label>
	      </h4>
	      <h4>
	        <a href="#" class="tooltip" title="You will get everything you need to fully assemble a midi-fighter on your very own. It requires no soldering or mechanical knowledge - just 20 minutes, an open table and the willingness to be a kid again.">?</a>
	        <input id="assembled_0" name="assembled" type="radio" value="0" />
	        <label class="title" for="assembled_0">DIY Kit [$0]</label>

	      </h4>
	    </div>

	    <div class="link">
	      <h4>
	        <a href="#" class="tooltip" title="Bookmarking or saving this link will let you come back to your masterpiece in progress.">?</a>
	        <label class="title" for="share_link">Share link</label>
	      </h4>

	      <input id="share_link" name="share_link" onclick="this.focus(); this.select();" type="text" />
	    </div>
	  </nav>

	  <form class="controller" name="cartadd" method="post" action="/cart/add">
	    <div class="colorable removed" data-ref="silicone">
	      <div class="colorable removed" data-ref="acrylic">

	            <div class="colorable removed col_0 row_0" data-ref="button">
	            </div>

	            <div class="colorable removed col_1 row_0" data-ref="button">
	            </div>

	            <div class="colorable removed col_2 row_0" data-ref="button">
	            </div>

	            <div class="colorable removed col_3 row_0" data-ref="button">
	            </div>

	            <div class="colorable removed col_0 row_1" data-ref="button">
	            </div>

	            <div class="colorable removed col_1 row_1" data-ref="button">
	            </div>

	            <div class="colorable removed col_2 row_1" data-ref="button">
	            </div>

	            <div class="colorable removed col_3 row_1" data-ref="button">
	            </div>

	            <div class="colorable removed col_0 row_2" data-ref="button">
	            </div>

	            <div class="colorable removed col_1 row_2" data-ref="button">
	            </div>

	            <div class="colorable removed col_2 row_2" data-ref="button">
	            </div>

	            <div class="colorable removed col_3 row_2" data-ref="button">
	            </div>

	            <div class="colorable removed col_0 row_3" data-ref="button">
	            </div>

	            <div class="colorable removed col_1 row_3" data-ref="button">
	            </div>

	            <div class="colorable removed col_2 row_3" data-ref="button">
	            </div>

	            <div class="colorable removed col_3 row_3" data-ref="button">
	            </div>

	      </div>
	    </div>

            <div id="fb-root"></div>
            <fb:like id="fb_like" action="like" colorscheme="light" font="arial" href="http://techtools.myshopify.com/products/midifighter-diy-kit" show_faces="false" height="25" width="265"></fb:like>

	    <aside class="random">
	      <h4>
	        <a class="randomize" href="#" onclick="config.random(); return false;">Randomize!</a>
	      </h4>
	    </aside>

	    <aside class="checkout">
	      <span class="total">Total Price: $<span class="value"></span></span>
	      <a class="add_to_cart action" href="#" onclick="config.submit(); return false;">Add To Cart</a>
	    </aside>
	  </form>

	</section>
	<script type="text/javascript">
	//<![CDATA[
        config = new MF.Config(product);
        $('#midifighter').data('instance', config);

	    $(function(){
	        $('nav h4 a.tooltip').tipsy({
	            gravity: 'w',
	            delayIn: 250,
	            delayOut: 250
	        });

            $('nav .color[title="Clear"]').tipsy({
                gravity: 'e',
                delayIn: 0,
                delayOut: 250,
                trigger: 'manual'
             }).tipsy("show");

	        $('div.tipsy.tipsy-e').css('z-index', 2);

	        window.fbAsyncInit = function() {
	            FB.init({appId: '113248718719389', status: true, cookie: true, xfbml: true});
	        };
	        (function() {
	            var e = document.createElement('script');
	            e.type = 'text/javascript';
	            e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
	            e.async = true;
	            document.getElementById('fb-root').appendChild(e);
	        }());
	    });
	//]]>
	</script>

	<div class="preview">
		<div class="thumbs">
			{% for image in product.images %}
			<a href="{{ image | product_img_url: 'original' }}" rel="lightbox[images]" title="{{ product.title }}"{% if forloop.first %} class="show"{% endif %}>
				<img src="{{ image | product_img_url: 'compact' }}" alt="{{ product.title | escape }}" />
			</a>
			{% endfor %}
		</div>
	</div>

    <div class="description">
        {% section 'description' %}
            {{ product.description }}
        {% endsection %}
    </div>

    <div class="checkout">
        <a class="add_to_cart action" href="#" onclick="config.submit(); return false;">Add to cart</a>
    </div>

</div>
